@page
@model PartFinderCore.Pages.Admin.StorageLocations.AddModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@section header {
    <a href="/admin/storagelocations/" title="List All" class="btn btn-sm btn-secondary"><i class="bi bi-list me-2"></i>List All</a>
}
@section HeaderBreadCrumb {
    <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="/admin/">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="/admin/storagelocations/">Storage Locations</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Add Storage Location</li>
}
<form method="post" class="m-0 p-0 w-100" enctype="multipart/form-data">
    <div class="border rounded px-4 pt-2 bg-white">


        <div class="row">
            <div class="col-12 col-md-6"><div asp-validation-summary="All" class="text-danger"></div></div>
            <div class="col-12 col-md-6 text-end"><button type="submit" asp-page-handler="Save" class="btn btn-primary "><i class="bi bi-floppy me-2"></i>Save</button></div>

            <div class="col-12">
                <div class="mb-3 required">
                    <label for="StorageName">Name:</label>
                    <input asp-for="StorageName" class="form-control form-control-sm" MaxLength="250" />
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3 required">
                    <label for="StorageSortOrder">Sort Order:</label>
                    <input asp-for="StorageSortOrder" class="form-control form-control-sm" MaxLength="250" />
                </div>
            </div>
            
        </div>
    </div>
</form>
