@page
@model PartFinderCore.Pages.Parts.Forms.SupplierAddModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-icons.css" rel="stylesheet" />

</head>
<body>
    <form method="post" class="m-0 p-0 w-100" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-12 ">
                    <!-- start content -->
                    @Model.ErrorMessage
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-3">
                        <label class="form-label" for="SupplierName">Supplier Name</label>
                        <input asp-for="SupplierName" class="form-control" MaxLength="250" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="Url">URL</label>
                        <input asp-for="SupplierUrl" class="form-control" MaxLength="250" />
                    </div>


                    <button type="submit" asp-page-handler="SaveData" class="btn btn-primary btn-sm float-end"><i class="bi bi-floppy me-2"></i>Save</button>
                    <!-- end content -->
                </div>
            </div>
        </div>


        <input type="hidden" asp-for="SelectedId" />

    </form>
    <script src="~/js/bootstrap.bundle.min.js"></script>

</body>
</html>
